<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Time_blast_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{70,102}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,127},{70,102}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>Time_blast_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{318,320}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{318,320}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>Time_blast_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,556},{318,320}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{318,320}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>Time_blast_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,878},{340,342}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{340,342}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>Time_blast_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,878},{340,342}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{340,342}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>Time_blast_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,1222},{356,360}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,360}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>Time_blast_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1222},{356,360}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,360}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>Time_blast_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-189.5,179.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>Time_blast_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-189.5,179.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>Time_blast_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{-189.5,179.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>Time_blast_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,2},{158,154}}</string>
                <key>offset</key>
                <string>{-13,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,97},{158,154}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>Time_blast_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,2},{238,216}}</string>
                <key>offset</key>
                <string>{19,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,62},{238,216}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>Time_blast_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{296,268}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,43},{296,268}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>Time_blast_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{300,268}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,43},{300,268}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>Time_blast_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,272},{302,282}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,37},{302,282}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>Time_blast_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,272},{304,282}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,37},{304,282}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>Time_blast_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,556},{314,298}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{314,298}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
            <key>Time_blast_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{298,298}}</string>
                <key>offset</key>
                <string>{-13,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{298,298}}</string>
                <key>sourceSize</key>
                <string>{380,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>timeblast.png</string>
            <key>size</key>
            <string>{1006,1584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fd6311af49bc87521cc597b44ddd705b:2a176ac8a8f85d3d734d600e75f03799:5fb064a3829f54b5fff623c893c81a3e$</string>
            <key>textureFileName</key>
            <string>timeblast.png</string>
        </dict>
    </dict>
</plist>
